/*********************************************************************************/
/* General Styles                                                                */
/*********************************************************************************/

html, body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background: #333333;
	font-family: 'Roboto', sans-serif;
	font-display: swap;
	font-size: 1vw;
	font-weight: 300;
	color: #363636;
	vertical-align: middle;
}

h1, h2 {
	margin: 0;
	padding: 0;
}

p, ol, ul {
	margin-top: 0px;
}

p {
	line-height: 190%;
}

a {
	color: #171717;
}

a:hover {
	color: #0e7543;
}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

ul {
	list-style: square;
	list-style-position: inside;
	letter-spacing: 0.15em;
	font-weight: 400;
	font-size: 1vw;
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 0;
}

/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

.title {
	margin-top: 3em;
	margin-bottom: 1em;
	text-transform: uppercase;
	height: auto;
}

.title h2 {
	letter-spacing: 0.20em;
	font-weight: 700;
	font-size: 2em;
	color: #00AABB;		
	text-align: center;
	height: auto;
}

.subtitle h2 {
	margin-top: 1em;
	margin-bottom: 1em;
	letter-spacing: 0.10em;
	font-weight: 350;
	font-size: 1em;
	color: #00AABB;		
	text-align: center;
	height: auto;
}

/*********************************************************************************/
/* WRAPPER */
/*********************************************************************************/

#wrapper {
	background: #FFFFFF url(../images/bg01.png) repeat;
}

.container {
	width: 100%;
	height: auto;
	margin: 0px auto;
	text-align: center;
}

.container > div {  
    width: 100%;  
    height: auto;  
    object-fit: cover;
}

.container > div > iframe {  
    width: 100%; 
    object-fit: cover;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header-wrapper {
	overflow: hidden;
	background-size: 100%;
	background: #333333;
}

#header {
	position: relative;
	overflow: hidden;
	text-align: center;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo {
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 2em 0em;
	text-transform: uppercase;
}

#logo h1 {
	letter-spacing: 0.10em;
	font-size: 3em;
}

#logo p {
	letter-spacing: 0.10em;
	color: #FFF;
}

#logo a {
	text-decoration: none;
	color: #FFF;
}

/*********************************************************************************/
/* Menu */
/*********************************************************************************/

#menu-wrapper {
	background: #00AABB;
	position: sticky;
	top: 0;
	width: 100%;
}

#menu {
	overflow: hidden;
	height: auto;
	width: 100%;
	text-align: center;
	display: grid;
    grid-gap: 0px;
	grid-template-columns: repeat(7, minmax(50px, 250px));
    grid-template-rows: repeat(1, 65px);
	align-items: center;
}

#menu a {
	display: block;
	letter-spacing: 1px;
	padding: 20px 40px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-size: 1vw;
	font-weight: 600;
	border: none;
	color: #FFF;
}

#menu a:hover {
	background-color: #ddd;
	color: black;
}

/*********************************************************************************/
/* Menu Mobile                                                                   */
/*********************************************************************************/

#menu-mobile {
	background: #00AABB;
	text-align: center;
	font-size: 4vw;
	position: sticky;
	top: 0;
}

#menu-mobile #opcoes {
	display: none;
	font-size: 4vw;
	position: sticky;
	top: 0;
	transition: background .2s ease-out;
}

#menu-mobile a {	
	display: block;
	letter-spacing: 1px;
	padding: 10px 20px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-size: 4vw;
	font-weight: 600;
	border: none;
	color: #FFF;
	position: sticky;
	top: 0;
}

#menu-mobile a.icone {
	font-size: 1vw;
	color: #FFF;
	display: block;
	font-size: 4vw;
	position: absolute;
	top: 0;
}

#menu-mobile a:hover {
	background-color: #ddd;
	color: black;
	font-size: 4vw;
}

/*********************************************************************************/
/* Aviso de atualização dos dados                                                */
/*********************************************************************************/

#atualizacao {
  visibility: hidden;
  min-width: 180px;
  margin-left: -90px; /* Divide value of min-width by 2 */
  background-color: #00aabb;
  color: #fff; /* White text color */
  text-align: center;
  border-radius: 20px; /* Rounded borders */
  padding: 16px;
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
  font-size: 1vw;
}

#atualizacao.visivel {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

#copyright {
	overflow: hidden;
	padding: 5em 0em;
	text-align: center;
	color: #FFF;
}

#copyright p {
	letter-spacing: 0.20em;
	text-align: center;
	font-size: 0.80em;
	color: #FFF;
}

#copyright a {
	text-decoration: none;
	color: #FFF;
}

/*****************************************************************************/
/*Ajuste para telas de tamanhos diferentes									 */
/*****************************************************************************/

/* Extra small devices (phones, 478px and down) */
@media only screen and (max-width: 478px) {
	body {
		font-size: 3vw;
	}
	
	ul {
		font-size: 3vw;
		text-align: left;
		padding-left: 1em;
		padding-right: 1em;
		box-sizing: border-box;
	}
	
	.container {  
		font-size: 3vw;
	}
	
	.container > div {  
		font-size: 3vw;
	}
	
	.container > div > iframe {
		font-size: 1vw;
	}
	
	#copyright {
		font-size: 3vw;
	}
	
	#copyright {
		font-size: 3vw;
	}
	
	#copyright {
		font-size: 3vw;
	}
	
	#atualizacao {
		font-size: 4vw;
	}
}

/* Small devices (portrait tablets and large phones, 478px and up) */
@media only screen and (min-width: 479px) {
	body {
		font-size: 2.25vw;
	}
	
	ul {
		font-size: 2.25vw;
		text-align: center;
		margin: 0;
		padding: 0;
	}
	
	#menu a {
		font-size: 1.75vw;
	}
	
	#menu-wrapper {
		font-size: 1.75vw;
	}
	
	.menu-mobile {
		font-size: 2vw;
	}

	.menu-mobile a {
		font-size: 2vw;
	}
	
	.menu-mobile a.icone {
		font-size: 2vw;
	}
	
	.menu-mobile #opcoes {
		font-size: 2vw;
	}

	.container {  
		font-size: 2.25vw;
	}
	
	.container > div {  
		font-size: 2.25vw;
	}
	
	.container > div > iframe {
		font-size: 1vw;
	}
	
	#copyright {
		font-size: 2.25w;
	}
	
	#copyright {
		font-size: 2.25vw;
	}
	
	#copyright {
		font-size: 2.25vw;
	}
	
	#atualizacao {
		font-size: 2.25vw;
	}
}

/* Medium/Large devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	body {
		font-size: 1vw;
	}
	
	ul {
		font-size: 1vw;
		text-align: center;
		margin: 0;
		padding: 0;
	}
	
	#menu a {
		font-size: 1vw;
	}
	
	#menu-wrapper {
		font-size: 1vw;;
	}
		
	.container {  
		font-size: 1vw;
	}
	
	.container > div {  
		font-size: 1vw;
	}
	
	.container > div > iframe {
		font-size: 1vw;
	}
	
	#copyright {
		font-size: 1vw;
	}
	
	#copyright {
		font-size: 1vw;
	}
	
	#copyright {
		font-size: 1vw;
	}
	
	#atualizacao {
		font-size: 1vw;
	}
}